<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android" android:targetSandboxVersion="1">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Android">
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Android.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.menu.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Android.NoActionBar">
        </activity>

        <!--Departments-->
        <activity
            android:name=".activities.save.SaveDepartment"
            android:label="@string/app_name"
            android:theme="@style/Theme.Android.NoActionBar">
        </activity>
        <activity
            android:name=".activities.display.DisplayDepartments"
            android:label="@string/app_name"
            android:theme="@style/Theme.Android.NoActionBar">
        </activity>
        <activity
            android:name=".activities.menu.MenuDepartment"
            android:label="@string/app_name"
            android:theme="@style/Theme.Android.NoActionBar">
        </activity>
        <activity
            android:name=".activities.search.SearchDepartment"
            android:label="Android"
            android:theme="@style/Theme.Android.NoActionBar">
        </activity>

        <!--Records-->
        <activity
            android:name=".activities.save.SaveRecord"
            android:label="@string/app_name"
            android:theme="@style/Theme.Android.NoActionBar">
        </activity>
        <activity
            android:name=".activities.display.DisplayRecords"
            android:label="@string/app_name"
            android:theme="@style/Theme.Android.NoActionBar">
        </activity>
        <activity
            android:name=".activities.menu.MenuRecord"
            android:label="@string/app_name"
            android:theme="@style/Theme.Android.NoActionBar">
        </activity>
        <activity
            android:name=".activities.search.SearchRecord"
            android:label="Android"
            android:theme="@style/Theme.Android.NoActionBar">
        </activity>

        <!--Residents-->
        <activity
            android:name=".activities.save.SaveResident"
            android:label="@string/app_name"
            android:theme="@style/Theme.Android.NoActionBar">
        </activity>
        <activity
            android:name=".activities.display.DisplayResidents"
            android:label="@string/app_name"
            android:theme="@style/Theme.Android.NoActionBar">
        </activity>
        <activity
            android:name=".activities.menu.MenuResident"
            android:label="@string/app_name"
            android:theme="@style/Theme.Android.NoActionBar">
        </activity>
        <activity
            android:name=".activities.search.SearchResident"
            android:label="Android"
            android:theme="@style/Theme.Android.NoActionBar">
        </activity>

        <!--Visit-->
        <activity
            android:name=".activities.save.SaveVisit"
            android:label="@string/app_name"
            android:theme="@style/Theme.Android.NoActionBar">
        </activity>
        <activity
            android:name=".activities.display.DisplayVisits"
            android:label="@string/app_name"
            android:theme="@style/Theme.Android.NoActionBar">
        </activity>
        <activity
            android:name=".activities.menu.MenuVisit"
            android:label="@string/app_name"
            android:theme="@style/Theme.Android.NoActionBar">
        </activity>
        <activity
            android:name=".activities.search.SearchVisit"
            android:label="Android"
            android:theme="@style/Theme.Android.NoActionBar">
        </activity>

    </application>

</manifest>